aniso8601==8.0.0
certifi==2020.6.20
click==7.1.2
cycler==0.10.0
Flask==1.1.2
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
numpy==1.19.2
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1
wordcloud==1.8.0
