appdirs==1.4.3
astroid==2.3.3
autopep8==1.5.2
beautifulsoup4==4.8.2
bs4==0.0.1
camelot-py==0.7.3
certifi==2019.11.28
chardet==3.0.4
chromedriver-install==1.0.3
Click==7.0
colorama==0.4.3
configparser==5.0.0
crayons==0.3.0
distro==1.4.0
et-xmlfile==1.0.1
flake8==3.8.4
gcloud==0.17.0
ghostscript==0.6
googleapis-common-protos==1.6.0
httplib2==0.14.0
idna==2.8
importlib-metadata==2.0.0
isort==4.3.21
jdcal==1.4.1
jws==0.1.3
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.17.4
oauth2client==3.0.0
opencv-python==4.1.2.30
openpyxl==3.0.2
pandas==0.25.3
pdfminer.six==20191110
pdftables-api==1.1.0
protobuf==3.11.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.6.0
pycryptodome==3.9.4
pyderman==2.0.0
pyee==7.0.1
pyflakes==2.2.0
pylint==2.4.4
PyPDF2==1.26.0
pypng==0.0.20
pyppeteer==0.0.25
PyQRCode==1.2.1
python-dateutil==2.8.1
python-jwt==2.0.1
pytz==2019.3
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.0
selenium==3.141.0
six==1.13.0
sortedcontainers==2.1.0
soupsieve==2.0
tabula==1.0.5
tabula-py==1.4.2
tqdm==4.46.0
typed-ast==1.4.1
urllib3==1.25.7
webdriver-manager==2.3.0
websockets==8.1
wrapt==1.11.2
zipp==3.3.0
